@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Work Sans", sans-serif;
}
header {
  background: rgba(255, 144, 14, 0.1);
  /* padding: 10px 240px; */
}
.nav-title {
  font-size: 2rem;
  font-weight: 700;
  color: black;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}
nav > ul {
  display: flex;
}
ul li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
  color: #424242;
}
/* bannar styles */
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
.banner-content {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: black;
}
.banner-description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 15px;
  color: #727272;
}
.btn {
  border-radius: 5px;
  background: #ff900e;
  border: none;
  padding: 15px 20px;
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
}
.banner img {
  margin-top: 15px;
  width: 100%;
}

/* team style */
.team {
  display: flex;
  align-items: center;
}
.team-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.team-content {
  padding-right: 70px;
  padding-left: 70px;
}
.team-title {
  font-size: 2.8rem;
  color: black;
  font-weight: 700;
}
.silver {
  color: #727272;
  font-weight: 500;
}
.orange {
  color: #ff900e;
}

/* fact styles */
.fact-card-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}
.card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 45px 40px 60px 40px;
}
.card-stats {
  color: #424242;
  font-size: 2.8rem;
  font-weight: 600;
  margin: 10px 0 0 0;
}
.card-title {
  font-size: 1.25rem;
  color: #727272;
  font-weight: 400;
  margin-top: 0px;
}

/* media styles */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .team {
    width: 100%;
    flex-direction: column;
  }
  .team-img {
    grid-template-columns: 1fr;
  }
  .team-content {
    padding: 0 20px;
  }
  .banner {
    width: 100%;
  }
}
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav,
  .team {
    flex-direction: column;
  }
  .team {
    text-align: center;
  }
}
/* main styles */
main {
  max-width: 1440px;
  margin: 70px auto;
}
